<div class="card">
    <p-table [value]="listadoPeliculas" [scrollable]="true" scrollHeight="500px">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Portada</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pelicula>
            <tr (click)="mostrarDetalle(pelicula)" role="button">
                <td>{{pelicula.nombre}}</td>
                <td>
                <select name="select" class="form-control" [(ngModel)]="pelicula.tipo" disabled>
                    <option value="1">Terror</option> 
                    <option value="2">Comedia</option>
                    <option value="3">Drama</option>
                    <option value="4">Otros</option>
                </select></td>
                <td>
                    <img [src]="pelicula.foto" alt="" style="width: 50px; height: 50px">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>