<app-menu></app-menu>
<main role="main">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4" [hidden]="ocultar">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Detalle</span>
            </h4>
            <ul class="list-group mb-3">
              <div>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Nombre: {{pelicula.nombre}}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Tipo: {{pelicula.tipo}}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Fecha de estreno: {{pelicula.fechaEstreno}}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Para mayores de: {{pelicula.publico}}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Actores: {{pelicula.actores}}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <button class="btn btn-primary my-2" (click)="modificar(pelicula.id)">Modificar</button>
                    <button class="btn btn-primary my-2" (click)="eliminar(pelicula)">Eliminar</button>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="col-md-8 order-md-1">
            <app-tabla-pelicula [listadoPeliculas]="listadoPeliculas" (emitirPelicula)="peliculaSeleccionada($event)"></app-tabla-pelicula>
          </div>
        </div>
      </div>
    </div>
  </main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>